@import url('https://fonts.cdnfonts.com/css/pacaembu-trial');
@import "tailwindcss";


:root {
  font-family: "Pacaembu Trial", sans-serif;
  background-color: var(--color-bg);

}
@theme  light{
  --color-pinky: #FF3730;
  --color-bg: #FFFFFF;
  --color-text: #000000;
}


@theme  dark{
  --color-pinky: #FF3730;
  --color-bg: #000000;
  --color-text: #FFFFFF;
}


@theme {
  /* Definisci l'animazione */
  --animate-fade-in-up: fadeUp 0.6s ease-out forwards;

  /* Definisci i keyframes */
  @keyframes fadeUp {
    0% { opacity: 0; transform: translateY(40rem); }
    100% { opacity: 1; transform: translateY(0); }
  }
}



@theme {
  /* Definisci l'animazione */
  --animate-translate-up: translateUp 0.8s ease-out 1s forwards;

  /* Definisci i keyframes */
  @keyframes translateUp {
    0% { transform: translateY(0rem);  }
    70% { transform: translateY(-13.5rem);  }
    80% { transform: translateY(-13.5rem);  }
    100% { transform: translateY(-12rem);  }
  }
}

@theme{
  /* shrink animation */
  --animate-shrink: shrink 0.6s ease-out 1s forwards;

  @keyframes shrink {
    0% { width: 75%;  }
    70% { width: 64.5%;  }
    80% { width: 64.5%;  }
    100% { width: 65%;  }
  }
}



